torch~=1.11.0
numpy~=1.22.4
pandas~=1.4.3
flask~=2.2.2
werkzeug~=2.2.2
sklearn~=0.0
scikit-learn~=1.1.2
setuptools~=59.8.0
click==8.1.3
importlib-metadata==5.0.0
itsdangerous==2.1.2
pip==22.3.1
setuptools==59.8.0
six==1.15.0
sklearn==0.0.post1
wheel==0.36.2
zipp==3.10.0
flask_restful
xgboost